body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.todo-list-container {
  
  width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list-container form {
  display: flex;
  margin-bottom: 20px;
}

.todo-list-container form input[type="text"] {
  flex-grow: 1;
  padding: 8px;
}

.todo-list-container ul {
  padding: 10;
}

.todo-list-container li {
  margin-bottom: 5px;
  margin: 4px
}

.todo-list-container button {
  background-color: rgb(0, 207, 197);
  color: #ffffff;
  border: 2px solid transparent;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.todo-list-container button:hover {
  opacity: 0.8;
}

.completed .task-text {
  text-decoration: line-through;
}